<!-----------------------------------style------------------------------->

.title{
    margin-bottom: 10px;
    text-align: center;
    width: 210px;
     color: black;
    border: solid black 2px;
}
input[type="button"]{
    background-color: rgb(96, 198, 238); 
    color: black; 
    border: solid black 2px;
    width: 150px;
    height: 40px;
}